.book_rider{
    .css-1hwfws3{
        height: 60px;
    }
    .react-toggle-track{
        background: rgba(120, 120, 128, 0.32);
    }
    .dropdown{
        display: flex;
        align-items: center;
        flex-direction: row;
        .nav-item:first-child{
            margin-right: 77px;
        }
        .nav-item:nth-child(2){
            margin-right: 53px;
        }
    }
    .nav.nav-tabs{
        border-bottom: 1px solid #EEE7E4;
    }
    ul.nav.nav-tabs li button.active{
        border: 0;
        border-bottom: 1px solid #000000;
    }
    ul.nav.nav-tabs li button{
        padding-bottom: 27px;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        /* identical to box height */
        border: 0;
        opacity: 0.6;
        color: #000000;
        &.active{
            opacity: 1;
        }
    }
    .pickup, .dropoff, .stop{
        display: flex;
        align-items: center;
        height: 60px;
        padding-right: 10px;
    }
    .stop {
        margin-top: 18px;
        position: relative;
        width: 623px;
        margin-right: 20px;
        .stop-location {
            position: relative;
            display: flex;
            align-items: center;
            background: #F2F2F2;                
            border-radius: 5px;
    
            padding-left: 24px;
            padding-right: 24px;
    
            .title {
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
    
                color: #000000;
            }
    
            .check {
                cursor: pointer;
            }
    
            .css-1hb7zxy-IndicatorsContainer {
                display: none;
            }
    
            .css-1s2u09g-control {
                border: none; 
                background: #F2F2F2;                   
            }
            
            .css-1pahdxg-control {
                box-shadow: none;
                border: none;
                background: #F2F2F2; 
            }
        }
    
        .trash {
            margin-left: 20px;
            padding-right: 10px;
            cursor: pointer;
        }
    }
    
    .stop::after {
        position: absolute;
        content: ' ';
        width: 8px;
        height: 8px;
        overflow: hidden;
        background: #673622;
        left: -25px;
        margin: 14px 20px 0 0;
        border: 1px solid #FFFFFF;
        box-shadow: 0 0 0 3px #673622;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        top: 12px;
    }
    .pickup {
        position: relative;
        display: flex;
        align-items: center;
        background: #F2F2F2;                
        border-radius: 5px;
        .title {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
    
            color: #000000;
        }
    
        .check {
            cursor: pointer;
        }
    
       .css-1hb7zxy-IndicatorsContainer {
           display: none;
       }
    
       .css-1s2u09g-control {
           border: none; 
           background: #F2F2F2;                   
       }
       
       .css-1pahdxg-control {
           box-shadow: none;
           border: none;
           background: #F2F2F2; 
       }
    }
    
    .pickup::before {
        content: "";
        position: absolute;
        border: 1px solid #e7e1e1;
        left: -34px;
        top: 0px;
        width: 25px;
        height: 40px;
        border-top-left-radius: 30px;
        border-bottom: none;
        border-top-right-radius: 30px;
    }
    
    .pickup::after {
        position: absolute;
        content: ' ';
        width: 8px;
        height: 8px;
        overflow: hidden;
        //background: #673622;
        left: -25px;
        margin: 14px 20px 0 0;
        border: 1px solid #FFFFFF;
        box-shadow: 0 0 0 3px #673622;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        top: 0px;
    }
    .dropoff {
        position: relative;
        display: flex;
        align-items: center;
        background: #F2F2F2;                
        border-radius: 5px;
        height: 60px;
        margin-top: 18px;

        .title {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;

            color: #000000;
        }

        .check {
            cursor: pointer;
        }

       .css-1hb7zxy-IndicatorsContainer {
           display: none;
       }

       .css-1s2u09g-control {
           border: none; 
           background: #F2F2F2;                   
       }
       
       .css-1pahdxg-control {
           box-shadow: none;
           border: none;
           background: #F2F2F2; 
       }
    }

    .dropoff::before {
        content: "";
        position: absolute;
        border: 1px solid #e7e1e1;
        left: -34px;
        top: 18px;
        width: 25px;
        height: 40px;
        border-bottom-left-radius: 30px;
        border-top: none;
        border-bottom-right-radius: 30px;
    }

    .dropoff::after {
        position: absolute;
        content: ' ';
        width: 8px;
        height: 8px;
        overflow: hidden;
        background: #673622;
        left: -25px;
        margin: 14px 20px 0 0;
        border: 1px solid #FFFFFF;
        box-shadow: 0 0 0 3px #673622;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        top: 12px;
    }
    .css-2b097c-container{
        width: 100%;
        .css-yk16xz-control{
            border: 0;
            background-color: transparent;
        }
        .css-1wy0on6{
            display: none;
        }
    }
    .tab-content{
        margin-top: 30px;
    }
    .ride-now{
        display: flex;
        margin-top: 32px;
        justify-content: space-between;

        .button{
            display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 50px;
                margin-bottom: 27px;
            *{
                display: inline-block;
            }
            p{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                margin-right: 10px;
                line-height: 17px;
                /* identical to box height */
                text-transform: uppercase;

                color: #673622;
            }
        }
        .add-stop{
            P{
                display: inline;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */
                text-transform: capitalize;
                text-decoration: underline;
                color: #673622;
            }
                *{
                    display: inline-block;
                }
        }
    }
    .date-time-wrapper{
        margin-left: 50px;
        .input-wrapper{
            width: 100%;
            margin-left: 0;
            
            input{
                width: 100%;
                padding-right: 10px;
            }
        }
    }
    
}
.select-vehicle{
    .input-wrapper{
        width: 100%;
        margin-left: 0px;
        input{
            width: 100%;
        }
    }
    .card-body{
        padding-left:40px;
    }
}
.input-wrapper{
    margin-bottom: 12px;
    background: #F2F2F2;
    border-radius: 5px;
    display: table;
    margin-left: 50px;
    padding-right: 10px;
    align-items: center;
    white-space: nowrap;
     &.time{
         margin-left: 10px;
         
     }
     textarea{
         width:100%
     }
    h5{
        display: table-cell;
        padding-left: 24px;
        font-family: 'Lato';
         font-style: normal;
         font-weight: 700;
         font-size: 16px;
         margin-bottom: 0px;
         line-height: 19px;
         opacity: 1;
         color: #000000;
    }
    input{
        border:0;
        outline: 0;
        height: 60px;
        background-color: transparent;
        display: inline;
        &[type='date'], &[type='time']{
            margin-left: 10px;
        }       
    }
    
} 
.select-vehicle{

    h5{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
    }
    h6.update{
        width:unset
    }
    
    .input-wrapper{
        padding: 3px 5px;
        margin-left: 0px;
        display: flex;
        margin-bottom: 30px;
        input{
            border: 0;
            margin-left: 10px;
        }
        
        .button-group{
            display: flex;
            
            i{
                
                font-size: 10px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
            i.fa-minus{
                border: 1px solid #673622;
                border-radius: 3px;
                color:#673622;
                margin-right:5px;
                padding: 18px 12px;
            }
            i.fa-plus{
                background: #673622;
                border-radius: 3px;
                color:white;
                padding: 18px 12px;
            }
        }
    }
}