table.driver{
    h6.onduty{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */
        text-transform: capitalize;

        color: #00CD6B;
    }
    h6.off.duty{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-transform: capitalize;
        color: #FF3131;
    }
}
div.card.driver-info{
    .meta{
        display: flex;
        justify-content: space-between;
        .info{
            display: block;
            i{
                margin-right: 10px;
            }
            *{
                display: flex;
                justify-content: space-between;
            }
        }

    }
    .info{
        .wrapper{
            display: flex;
            margin-left: 10px;
            margin-top: 30px;
            h5{
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;

                color: #000000;
            }
            h6{
                font-size: 16px;
                line-height: 19px;
                color: #06152B;
            }
        }
    }
}
h6.update.Assign{
    background: white;
    border:1px solid;
    border-radius: 12px;
    border-color: #F4730E;
    color: #F4730E;
    cursor: pointer;
    margin-top: 30px;
}